#feedControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    padding: 0 2em;
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);

    & > div {
        display: flex;
        align-items: center;
        height: 100%;
    }
}

#feedOptions > button {
    position: relative;
    padding: 0.3em;
    border: 0.3em solid #ffffff;
    background-color: #ffffff;
    box-sizing: border-box;
    text-decoration:none;
    text-align: center;
    cursor: pointer;
    transition: $mainTransition;
        
    &:hover {
        color: $accentColor;
        transition: $mainTransition;
    }
}
#feedOptions .active {
    color: $accentColor;
    border-bottom: 0.3em solid $accentColor;
    margin-bottom: 0.2em;
}



.searchResult {
    margin: 1em 0;
    width: 100%;
    display: block;
    line-height: 2em;
    font-size: 1.5em;
    text-align: center;
    color: white;
    background-color: rgb(55, 165, 255);
        & > u {
            font-size: 1em;
        }
}

#feedContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

#feedContent > article {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 40%;
    min-width: 370px;
    margin: 1em;
    padding: 1em 1em 0 1em;
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(142,142,142,1);
    -moz-box-shadow: 1px 1px 2px 0px rgba(142,142,142,1);
    box-shadow: 1px 1px 2px 0px rgba(142,142,142,1);
}


#feedContent > article > span {
    display: block;
    text-align: end;
    border-bottom: solid 1px $accentColor;
    margin-bottom: 0.5em;
    color: $accentColor;
}

#feedContent > article > div {
    flex: 2;
    display: flex;
    align-items: center;
    
    & > div:first-child {
        display: flex;
        max-width: 100px;
        min-width: 100px;
        max-height: 100px;
        margin-right: 1em;
        & > img {
            max-width: 100%;
            max-height: 100%;
            margin: auto;
        }
    }

    & > div:last-child {
        display: flex;
        align-items: stretch;
        position: relative;
        flex-grow: 2;
        flex-direction: column;
        & > p {
            text-overflow: ellipsis;
            margin-top: 0.5em;
            flex: 2;
        }
        & > a {
            // display: block;
            // position: absolute;
            bottom: 0;
            width: 100%;
            padding: 0.25em;
            color: blue;
            // background-color: rgba(172, 255, 47, 0.336);
            background-size: 200px 1px;
            margin-top: 0.5em;
            text-align: center;
            font-weight: bold;
            align-self: flex-end;

            &:hover {
                color: $accentColor;
                background-color: rgba(172, 255, 47, 0.336);
            }
        }
    }
}