
#exchangeOutput > p {
    margin: 0.5em 0;

    & > input {
        width: 5em;
    }
}




#dropdownWrap {
    position: relative;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: white;
    padding: 1em;
}

.show {
    display: block;
}